*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color:#0f0f0f;
    text-align: center;
    color: #ffffff;
}

#title{
    font-weight: lighter;
}

#sub-titulo{
    font-weight: lighter;
    position: relative;
    right: 102px;
}

.info-container{
    padding: 30px;
    vertical-align: middle;
    background-color: rgb(190, 229, 255);
}

.info{
    display: inline-block;
    height: 450px;
    width: 31%;
    background-color: rgb(40, 189, 102);
    vertical-align: middle;
    box-shadow: 0px 10px 10px #093570;
    border-radius: 25px;
}

#titulo-com{
    position: relative;
    left: 20px;
}

ul{
    list-style-type: none;
    text-align: center;
    
}

.extra{
    display:inline-block;
    background-color: lightgray;
}

#regras{
    height: 126px;
    width: 59vw;
}

#diaria{
    vertical-align:bottom;
    height: 126px;
    width: 39vw;
}

.outro{
    background-color: gray;
}

.image{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.imgs{
    z-index: 2;
    position: relative;
    padding-right: 11.111%;
    padding-bottom: 430px;
    outline-offset: -1;
    display: inline;
}

#IMAGENS{
    background-image: url(../img/chale\ 1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#moldura{
    position: relative;
    top: -19px;
    outline-offset: -1px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    outline: 3px solid rgb(6, 61, 35);
}

#img1:hover ~ #moldura{
    background-image: url("../img/chale\ 1.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#img2:hover ~ #moldura{
    background-image: url("../img/chale\ 2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#img3:hover ~ #moldura{
    background-image: url("../img/chale\ 3.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#img4:hover ~ #moldura{
    background-image: url("../img/chale\ 4.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#img5:hover ~ #moldura{
    background-image: url("../img/chale\ 5.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#img6:hover ~ #moldura{
    background-image: url("../img/chale\ 6.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#img7:hover ~ #moldura{
    background-image: url("../img/chale\ 7.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#img8:hover ~ #moldura{
    background-image: url("../img/chale\ 8.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

#img9:hover ~ #moldura{
    background-image: url("../img/chale\ 9.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

footer{
    background-color: lightgray;
    text-align: center;
    padding: 50px;
}

input{
    display: none;
}

.texto1, .texto2, .texto3, .texto4{
    display: none;
} 

#slide1:checked ~ .texto1 {
    display: block;
}

#s1{
    border-bottom-left-radius: 25px;
}

#slide2:checked ~ .texto2 {
    display: block;
}

#s2{
    border-bottom-right-radius: 25px;
}

#slide3:checked ~ .texto3 {
    display: block;
}

#slide4:checked ~ .texto4 {
    display: block;
}


.bar1{
    position: relative;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: -3px;
    padding-right: 25%;
    padding-top: 3%;
    top: 431px;
    cursor: pointer;
    transition: .5s;
}

.bar1:hover{
    background-color: white;
}

#regras ul{
    text-align: justify;
    display: inline-block;
    vertical-align: top;
}